//Constants
$idabus_blue-000: #009dcc;
$idabus_blue-100: #078cb8;
$idabus_blue-200: #067da3;
$idabus_blue--100: #089ccc;

//settings
$link-color: $idabus_blue-000;
$btn-primary-color: $idabus_blue-200;
