---
layout: default
---

 <article class="article-content">

   <header class="article-content__header dock-header">
      <h1>{{page.title}}</h1>
   </header>

  {% if page.status == 'todo' %}
    Coming soon...
  {% else %}
    {% unless page.toc == false %}

    <div>

    <details open markdown="block">
      <summary>
        <h4>Table of contents</h4>
      </summary>
      {% include toc.html html=content sanitize=true class="inline_toc" %}
    </details>

    17:38
    </div>
    {% endunless %}
    <div>
      {{ content }}
    </div>
  {% endif %}
  </article>
