---
layout: default
---

 <article class="article-content">

   <header class="article-content__header dock-header">
      <h1>{page.title}</h1>
   </header>

  {% if page.status == 'todo' %}
    Coming soon...
  {% else %}
    {% unless page.toc == false %}
     <span>
       <details open markdown="block">
         <summary>
           <h4> Table of contents </h4>
         </summary>
          1. TOC
          {:toc}
        </details>

       ---

       </span>
    {% endunless %}
    <div>
      {{ content }}
    </div>
  {% endif %}
  </article>
